/* Common layout */

  /*
  element  - The element selector selects all HTML elements with the element name.
  #element - The id selector uses the id attribute of a unique HTML element to select a specific element.
  .element - The class selector selects HTML elements with a specific class attribute.

To select elements with a specific class, write a period (.) character, followed by the class name.*/

 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container mt-3 {
    width: 600px;
    height: 30px;
    color: #000000;
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding: .5;
    justify-content:flex-end;
    display: block;
  }

.container {
  padding: 10px 5%;
}

  main {
    width: 80%;
    margin: 20 20 auto;
  }

  
  /* Header */
  header {
    text-align: center;
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Navigation */
  
  /* Articles nothing yet*/

/* flexbox begin*/

  .image-gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
}

.image-item {
  flex: 0 1 auto;
  align-self: flex-start;
}